@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

*{
    line-height: 1.5;
}
body {
    font-family: 'Poppins', sans-serif;
}

.navbar{
    opacity: 0.5;
    
}
.testimonials-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial-item {
    flex: 0 0 50%; 
}

.relative.overflow-hidden {
    overflow: hidden; 
}
p{
    font-size: 15px;
}
.navbar-scrolled {
    background-color: white !important; 
    color: black !important; 
}
.vidBackground{
    z-index: 1;
    
}.icon-container {
    display: inline-flex; /* Align items in a row */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    width: 50px; /* Set width for the round border */
    height: 50px; /* Set height for the round border */
    border: 3px solid green; /* Green border */
    border-radius: 50%; /* Make the border round */
    background-color: transparent; /* Transparent background */
    margin: 10px; /* Margin for spacing */
}

.icon-style {
    color: green; 
    font-size: 24px; 
}
.team-member {
    flex: 1 1 200px; 
}
.theedivs{
    /* background-color: red; */
}
.yaa{
    /* background-color: yellow; */
}
@media (max-width: 768px) {
    .team-member {
        width: 80%; 
    }
}
